body {
    background-color: gray;
    margin: 0 auto;
}

#gameboard {
    margin: 0 auto;
    max-width: 600px;
}
/* .cards {
/* background: black;
width: 20%;
padding-bottom: 20%;
float: left;
margin: 2.5%;
border-radius: 20%; */


.cards img {
    width: 200px;
    height: 200px;
    float: left;
    margin: 2.5%;
    border-radius: 20%;
    overflow: hidden; 
}
h1 {
    text-align: center;
    background: pink;
    margin: auto;
}

#instructions {
    text-align: center;
    background: pink;
    padding: 20px 0;
    margin: auto;
    font-size: 1em;
}

.selected {
opacity: .5;
}

p {
    text-align: center;
    font-size: 5em;
}

.button {
    display: block;
    max-width: 60px;
    margin: auto;
}