body {
    background-color: gray;
    margin: 0 auto;
}

#gameboard {
    padding-top: 10%;
    margin: 0 auto;
    max-width: 600px;
}
.cards {
background: black;
width: 20%;
padding-bottom: 20%;
float: left;
margin: 2.5%;
border-radius: 20%;

}

h1 {
    text-align: center;
    background: pink;
    padding: 30px 0;
    margin: auto;
}

#instructions {
    text-align: center;
    background: pink;
    padding: 30px 0;
    margin: auto;
    font-size: 2em;
}